# Virtual Environment
.venv/
venv/
ENV/

# Python Caches & Build Files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
*.egg-info/
dist/
build/

# Local Process PIDs & Logs
.pids/
*.log
nohup.out

# IDEs & Text Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store

# Docker volumes / local data
.docker-volumes/
